:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-lightgray: hsl(212, 45%, 89%);
  --clr-blue: hsl(220, 15%, 55%);
  --clr-darkblue: hsl(218, 44%, 22%);

  --font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  background: var(--clr-lightgray);
  font-family: var(--font-family);
}

.container {
  background: var(--clr-white);

  border-radius: 2rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr_code {
  height: 300px;
  border-radius: 1rem;
}

.content {
  text-align: center;
  width: 300px;
  padding: 2px;
}

.content h1 {
  font-size: 1.6rem;
  font-weight: 700;
  
  opacity: 0.9;
}

.content p {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 1rem 0 1rem;

  opacity: 0.6;
}
